
        body{
          margin: 2%;  
         border: solid 1px lightgrey;
        
         
        }

       .header{
        border-bottom: solid 1px lightgrey ;
        
       }

      form{
        background: rgba(0, 0, 255, 0.404)
      }

       
      


       .radio{
        background-color: darkgray;
        border-radius: 3px;
        padding: 5px 0px 10px 10px;
       }


       span img{
        width: 25px;
        padding: 0;
       
       }


       #textarea{
        height: 100px;

       }
       .AmEx{
        width: 30px;

       }
       .botton{
        border-top: solid 1px lightgrey 

       }
    