
        body{
          margin: 2%;  
         border: solid 1px lightgrey;
         
         
        }

       .header{
        border-bottom: solid 1px lightgrey ;
       }

       .alert-none-valid{
        display: none;

       }

       form:invalid .alert-none-valid{
        display: block;

       }
      


       .radio{
        background-color: darkgray;
        border-radius: 3px;
        padding: 5px 0px 10px 10px;
       }


       span img{
        width: 25px;
        padding: 0;
       
       }



       .input-radio-requiered{
        
        color: red;
      display: none;}
span input:invalid .input-radio-requiered {
display: block;

}


       #textarea{
        height: 100px;

       }
       .AmEx{
        width: 30px;

       }
       .botton{
        border-top: solid 1px lightgrey 

       }
    